.props-table {
  .attributeName {
    color: #939da3;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    font-family: $textFontFamily;
  }

  h5 {
    cursor: pointer;
  }
  .objectGroup {
    color: #333332;
    font-size: 15px;
    font-family: $textFontFamily;
    th {
      padding: 5px 10px;
      border-bottom: 1px solid #ddd;
      vertical-align: bottom;
      font-weight: 600;
      text-align: left;
      line-height: 1.6;
      min-width: 300px;
    }
    td {
      padding: 10px;
      text-align: left;
      vertical-align: top;
      line-height: 1.6;
    }
    thead tr {
      background-color: white !important;
    }
    tr:nth-child(2n + 1){
      background-color: #edf1f9;
    }
  }
}