html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 1px 5px 0 5px;
}

#app {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.el-header,
.el-footer {
  color: #333;
  text-align: center;
}

.el-aside {
  background-color: #d3dce6;
  color: #333;
  text-align: center;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.el-tooltip__popper {
  font-size: 14px;
}

.hide {
  display: none;
}

@import "propsTable"